.vs
obj
service/RadioService.csproj.user
service/Properties/PublishProfiles/FolderProfile.pubxml.user
**/*.user
service/Properties/PublishProfiles/FolderProfile.pubxml.user
service/appsettings.json.20240423.smartone
