<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="destination" value="https://smart-er.pamdas.org" />
        <add key="intervalMs" value="2000" />
        <add key="connectString" value="Host=172.16.222.1;Username=postgres;Password=password;Database=sintegrate_db;Port=30090" />
    </appSettings>
</configuration>