<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="destination" value="https://cdip-er.pamdas.org" />
        <add key="intervalMs" value="5000" />
		
        <add key="connectString" value="Data Source=HYTERA-TESTING\MSSQLSERVER01;User ID=***REMOVED***_local;Password=SomethingFancy8;Initial Catalog=KAS20;TrustServerCertificate=True" />
      <add key="earthranger_url" value="https://cdip-er.pamdas.org"/>
      <add key="earthranger_username" value="***REMOVED***"/>
      <add key="earthranger_password" value="***REMOVED***"/>
      <add key="earthranger_client_id" value="das_web_client"/>
      <add key="earthranger_provider_key" value="kenwood-radios"/>
      <add key="earthranger_auth_token" value="fd17d6d300410dcf8c020f57150e5df083362dda"/>
    </appSettings>
</configuration>