{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },

  "RadioDataPumpConfiguration": {
    "destination": "https://cdip-api-prod01.pamdas.org",

    "intervalMs": "5000",
    "connectionString": "Data Source=localhost;User ID=DB_USERNAME;Password=DB_PASSWORD;Initial Catalog=KAS20;TrustServerCertificate=True;",

    "earthranger_provider_key": "kenwood-radios",
    "earthranger_auth_token": "unused",

    "gundi_apikey": "GUNDI-API-KEY",
    "kas20_system_id": "1"
  }
}
